/.vs/WebApplication15/v15/Server/sqlite3/db.lock
/.vs/WebApplication15/v15/Server/sqlite3/storage.ide
/.vs/WebApplication15/v15/Server/sqlite3/storage.ide-shm
/.vs/WebApplication15/v15/Server/sqlite3/storage.ide-wal
/.vs/config/applicationhost.config
/bin/Debug/netcoreapp2.1/WebApplication15.deps.json
/bin/Debug/netcoreapp2.1/WebApplication15.dll
/bin/Debug/netcoreapp2.1/WebApplication15.pdb
/bin/Debug/netcoreapp2.1/WebApplication15.runtimeconfig.dev.json
/bin/Debug/netcoreapp2.1/WebApplication15.runtimeconfig.json
